#search_container{
    /* margin : 0 auto; */

    /* background : red; */
    margin: 50px 200px;
    /* width: 100%; */
    text-align: center;
    /* height : 200px; */
}
#text_field{
    width : 100%;
    /* background : green; */
    font-size: 25px;
    /* padding : 0px 10px; */
}
.MuiFormLabel-root{
    font-size: 30px;
}
#sorting_container{
    /* background : red; */
    text-align: center;
}
.sort_option{
    border : none;
    font-size: 16px;
    background : white;
    color : gray;
}
#contain{
    /* margin-bottom : 100px; */
    padding-bottom : 100px;
}
#contain{
    background : linear-gradient(white, white, whitesmoke)
    /* background : red; */
}
