@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* *{
    width: auto;
} */

.wrapper_container{
    padding: 60px 30px;
    font-family: 'Playfair Display', serif;
    font-style : normal;
    /* margin-top: 90px; */
    height: 100vh;
    width: 100%;
    /* background: linear-gradient(90deg, rgba(255, 0, 0, 0.815), rgb(238, 128, 108)); */
    background: url(../../public//sign_in_background.jpg);
    background-size: 100%;
    /* background-blend-mode: saturation; */
    /* background: rgba(215, 0, 222, 0.3); */
    /* height: 1000px; */
    /* text-align: center; */
}

.sign_in_form{
    /* margin: 0 auto; */
    /* background: green; */
    /* height: 89px; */
    width: 100%;
    margin-top: 40px;
}

.email{
    /* display: block; */
    margin: 0 auto;
    margin: 10px 0;
    width: 100%;
    border-bottom: 1px solid white !important;
    /* background: green; */
    color: red !important;
    /* background: blue; */
}

.email > label, .email > div, .email > label:active{
    color: white !important;
    /* background-color: white; */
}


.email > .MuiInput-underline:after{
    background: yellow;
    border-bottom: 3px solid white !important;
}
.password{
    /* display: block; */
    margin: 20px 0;
    width: 100%;
    border-bottom: 1px solid white !important;
    color: white !important;
}

.password > label, .password > div, .password > label:active{
    color: white !important;
}

.email_container{
    width: 100%;
    /* height: 200px; */
    /* background: orange; */
    /* margin: 10px 0; */
    margin: auto;
    margin-bottom: 15px;
    margin-top: 1vh;
    z-index: 2;
    /* color: white !important; */
    /* background:rgb(24, 146, 146) */
}

.password_container{
    width: 100%;
    margin: 15px 0;
    margin: 0 auto;
    margin-bottom: 50px;
    color: white !important;
    margin-top: 15px;
}

.fieldset{
    border-radius: 7px;
    border: 1px solid silver;
    width: 100%;
    margin: 0 auto;
    /* background: red; */
}

.submit{
    margin: 0 auto;
    width: 100%;
    /* background: rgb(24, 146, 146) !important; */
    background: white !important;
    padding: 3% 0 !important;
    color: black !important;
    border: none !important;
    z-index: 2;
}

.google_submit{
    margin: 0 auto;
    width: 100%;
    background: orange !important;
    color: white !important;
    border: none !important
}

div.submit_container{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px ;
}


div.content{
    /* background: cyan; */
    width: 600px;
    margin: 0 auto;
    padding: 70px;
    /* background: white; */
    background-color:black;
}


.bottom_text{
    text-align: center;
    /* margin: 40px 50px; */
    margin-top: 40px;
    /* color: red; */
}

.sign_in_text{
    color: white !important;
    text-decoration: underline;
}

.bottom_text_container{
    margin: 30px 0;
    color: white;
}

.login_text{
    font-size: 35px !important;
    text-align: left;
    width: 90%;
    color: white;
    display: inline-block;
    /* font-family: 'Playfair Display', serif !important;
    font-style : normal !important;
    font-weight: 500 !important; */
}

.textfield{
    border-bottom: 1px solid white !important;
}

.textfield > label{
    color: white;
}


/* Handler for The Sign Up form */

div.textfield_container{
    width: 47%;
    display: inline-block;
    margin: 5px;
    /* background: navy; */
}

.textfield{
    width: 100%;
}

.sign_up_form{
    width: 100% !important;
}

.sign_up_text{
    font-size: 35px !important;
    /* font-family: 'Playfair Display', serif !important;
    font-style : normal !important;
    font-weight: 500 !important; */
    /* color: red !important; */
    margin: 20px 0 !important;
    text-align: center;
}

div.upload_image{
    text-align: center;
    margin: 0 auto;
    /* background: red !important; */
}

.filebase{
    margin: 0 !important;
    padding: 0 !important;
}
div > #logos{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: end;
    width: 100%;
    position: relative;

    /* background-color: red; */
}

#back_button{
    position: absolute;
    color: white;
    /* background-color: red; */
    left: -12% !important;
    top: 20%;
}

.forgot_password_container{
    width: 100%;
    margin-top: 40px;
    text-align: center !important;
}

.forgot_password{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-align: center; */
    /* margin: auto; */
    width: 100%;
    /* text-align: right; */
}

/* .content:first-child{
    opacity: 80%;
} */



@media only screen and (max-width: 680px){

    .wrapper_container{
        background: url(../../public//sign_in_background.jpg);
        background-size: cover;
    }

    div.content{
        width: 87%;
        background-color:black;
        /* opacity: 60%; */
        /* margin: 10px; */
        padding: 10%;
        margin: 0 auto;
        position: absolute;
        top: 10%;
        /* transform: translateY(-50%); */
        /* z-index: -0; */
        /* height: 60vh; */
    }

    div.textfield_container{
        width: 45%;
        display: inline-block;
        margin: 5px;
        /* background: navy; */
    }
}