@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.top_landing_left{
    float : left;
    height: 500px;
    width: 50%;
    /* background-color: teal;
    color: rgb(221, 221, 7); */
}



.top_landing_right{
    float : right;
    height : 800px;
    width: 50%;
    /* background-color: cyan; */
    background: url("../../public//landing_photo.jpg");
    background-size: cover;
}

.find{
    /* vertical-align: middle; */
    margin: 300px 0;
    padding-right: 30px;
    /* font-family: serif; */
    font-family: 'Playfair Display', serif;
    font-style : normal;
    font-weight : bold;
    text-align: right;
    font-size: 100px;
    font-size: 70px;
    height: 0px;
    
    /* padding : 200px */
}

/* @keyframes typing {
    from { width: 0 }
    50% { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  } */
  
.container{
    height : 800px;

}

.propertyText{
    font-size : 30px;
    /* display : inline-block; */
    /* padding-bottom : 50px; */
    margin: 0;
    padding: 0 20px 0 0;
    display: inline;
    float: right;
    font-family: 'Playfair Display', serif;
    font-style : normal;
}

@media only screen and (max-width: 600px){
    .top_landing_right{
        display : none;
        height: 400px;
    }
    .top_landing_left{
        float : none;
        width : 60%;
        margin: 0;
        padding: 0;
        height: 400px;
        margin: 0 auto;
        /* background: url("../../public//landing_photo.jpg");
        background-size: cover; */
    }
    .container{
        height: 300px;
    }
    .find{
        /* vertical-align: middle; */
        margin: 220px 0;
        padding-right: 30px;
        /* font-family: serif; */
        font-family: 'Playfair Display', serif;
        font-style : normal;
        font-weight : bold;
        text-align: right;
        font-size: 70px;
        height: 10px;
        /* padding : 200px */
    }
    .propertyText{
        margin: 0;
        padding: 0 20px 0 0;
        display: inline;
        float: right;
        font-family: 'Playfair Display', serif;
        font-style : normal;
        /* font-weight : bold; */
    }

    /* .top_landing_left h1{
        animation: 
            crossover 6.5s infinite steps(200, end),            
    }

    @keyframes crossover {
        from { width: 0 }
        50% { width: 100% }
    } */
   
}