.body{
    background : white;
    width : 50%;
    color : black !important;
    height : 70px;
    position: fixed;
    display: inline;
    top : 0;
}
.sideNav{
    height : 300px;
    width : 60px;
    background: whitesmoke !important;
}
.container{
    height: 0px;
    width : 50%;
    background: white !important;
    padding: 0 5%;
}
/* select{
    background : brown;
    border : none;
    width : 60px;
} */
.signIn{
    float : right ;
    margin : 10px 0px 0px 0px !important;
    /* background: rgb(155, 245, 20) !important; */
    background: teal !important;
    color: orange !important;
    /* width: 18%; */

    /* margin: 0 auto; */
    /* margin-top: 5px; */
    /* width: 20%; */
    /* background-color: teal; */
    /* height : 70px; */
}
.avatar{
    height: 50px;
    width : 50px;
    border-radius : 50%;
    /* float : right; */
    margin : 10px 0px 0px 0px !important;

}
.user{
    /* float : right;
    width: 20%;
    height: 20px;
    background-color: red; */
    /* display: inline; */
    /* margin: 15px 10px 0px 0px; */

    float : right;
    /* margin: 0 auto; */
    /* margin-top: 10px; */
    /* width: 20%; */
    /* background-color: teal; */
    height : 70px;
}
.select{
    /* float : right; */
    padding : 0px 5px;
    margin-top : 20px;
    background: white;
    width : 25px;
    border-radius: 5px;
}

.title{
    float: left;
    display: inline;
    margin: 3%;
}

.title_container{
    width: 80%;
    height: 80px;
    background: red;
}

.container{
    width: 49%;
    position: fixed;
    top: 0;
    height: 70px;
}

@media only screen and (max-width: 600px){
    .body{
        background : white;
        width : 100%;
        color : black !important;
        height : 70px;
        /* float:inline-start; */
        position: fixed;
        top : 0;
    }
    .user{
        float : right;
        /* margin: 0 auto; */
        margin-top: 5px;
        width: 20%;
        /* background-color: teal; */
        height : 70px;
        /* margin: 0; */
    }
    .container{
        width: 100%;
        /* padding: 3%; */
        padding: 0px;
        position: fixed;
        top : 0;
        background-color: whitesmoke;
        /* background-color: blue; */
        height : 70px;
    }
    .title{
        float: left;
        display: inline;
        margin: 3%;
        width: 70%;
        height : 80px;
    }
    .select{
        background-color: whitesmoke;
        border-bottom: none !important;
    }
    .MuiInput-underline{
        border-bottom: none;
    }
    .MuiInput-underline:after {
        /* left: 0;
        right: 0;
        bottom: 0;
        content: "";
        position: absolute;
        transform: scaleX(0);
        transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms; */
        border-bottom: 2px solid red !important;
        /* pointer-events: none; */
    }
    /* .top_landing_right{
        display : none;
    }
    .top_landing_left{
        float : none;
        width : 80%;
    } */
}